*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 29, 29);
    height: 100vh;
    color: white;
    font-size: larger;
}

